.container {
    display: flex;
    align-items: center;
    padding: 2rem;
    color: #69647b;
    font-size: normal;
    font-family: Helvetica;
    word-wrap:break-word;
    max-width: 1000px;
}

.container img {
    margin-top:8px;
    margin-bottom: 20px;
    width: auto;
    height: 25rem;
}

.ul li {
    margin-bottom: 10px;
}