.banner-img {
  float: center;
  margin-left: auto;
  margin-right: auto;
}

.banner-text {
  position: absolute;
  left: 5%;
  top: 30%;
  color: white;
  font-size: 60px;
  font-style: Serif;
  text-shadow: 4px 4px 5px grey;
  font-weight: bold;
}

.banner-subText {
  position: absolute;
  left: 5%;
  top: 41%;
  color: white;
  font-size: 35px;
  font-style: Serif;
  text-shadow: 4px 4px 5px grey;
  font-weight: bold;
}
