.container {
    display: flex;
    padding: 2rem;
    align-items: center;
}

.aboutUsImage{
    border: 5px solid #79bfe9;
    margin-top:4px;
    width: 500px;
    height: auto;
}
.aboutInfo{
    padding: 1rem;
}

.aboutInfo header{
    font-family: Helvetica;
    font-size: 2rem;
    font-weight: bold;
}

.aboutInfo li{
    list-style: none;
}

.aboutInfo a{
    color: blue;
}

@media(min-width: 600px){
    .ContactUsImage {
        width: 500px;
    }
}
