.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}
.option{
    display: grid;
    margin:20px;
    border: 2px white;   
}
.option header{
    color: #a68782;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1rem;
}

.image{
    box-shadow: 0 10px 20px 0 rgb(109, 104, 104); 
    padding:5px;
    width:250px;
    height:200px;
}


@media(min-width: 600px){
    .image{
        width:400px;
        height:350px;
    }
    .option header{
        font-size: 2em;
    }
}