.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.option{
    margin:30px;
}
.option header{
    color: #69647b;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1rem;
}

.image {
    width:95%;
    height:95%;
    border: 5px solid #CAE1FF;
}


@media(min-width: 600px){
    .option header{
        font-size: 1.8em;
    }
}
@media(min-width:800px){
    .option header{
        font-size: 2em;
    }
}