.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.option{
    margin:30px;
}
.option header{
    color: #69647b;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1rem;
}

.image {
    width:95%;
    height:95%;
    border: 3px solid #79bfe9; 
}


@media(min-width: 600px){
    .option header{
        font-size: 1.8em;
    }
}
@media(min-width:800px){
    .image{
        width:90%;
        height:90%;
    }
   
    .option header{
        font-size: 2em;
    }
}