.page{
    text-align: center;
}

petBody{
    text-align: left;
    margin: auto;
    justify-content: space-between;
    flex-flow: column nowrap;   
    display: flex;
}
.content{
    margin:10px;
    padding:10px;
    border: 2px solid  #a68782;;
    background: white;
    color:#a68782;
}

.h1{
    color:#a68782;;
    font-size: 30px;
    margin:10px;
    padding:10px;
    
}

.h2{
    color: #a68782;;
    font-size: 30px;
}

.h3{
    color: #a68782;;
    font-size: 25px;
}


.image{
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
