.NavContainer{
    background-image: linear-gradient(to bottom,  #ead0d1, #ead0d1, #dfd6d7 100%);
    display: grid;
}
.LogoDiv{
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-around;
    align-items: center;
}
.logoImg{
    width: auto;
    height: 6rem;
}

.slogan{
    color: #69647b;
    font-family: Serif;
    font-size: 1.8rem;
    font-weight: bold;
}

.navBar{
    text-align: justify;
    font-family: Helvetica;
    padding: 0rem;
    margin:0rem;
}

.navBar li {
    font-size: 12px;
    float:left;
    padding: 10px;
    list-style: none;
}
.navBar li:hover{
    background-color: #bfbfbf;
}
.navBar li a {
    color: #a68782;
    text-decoration: none;
}

.bottomImg{
    width: auto;
    height: 10rem;
    display: block;
    margin: -2rem auto -4.5rem auto;
}

.footerNav{
    display: grid;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to bottom, #dfd6d7, #ead0d1, #ead0d1 100%);
}

.footerNav ul{
    display: flex;
    list-style: none;
    margin-bottom: 0rem;
}

.footerNav li{
    padding: 20px;
    font-size: 1.2rem;
}


.footerNav li a{
    color: #69647b;
}
.claim{
    color: #5f524a;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1rem;
}
@media(min-width: 700px) {
    .slogan {
        font-size: 3rem;
    }
    .logoImg {
        width: auto;
        height: 10rem;
    }
    .navBar li {
        font-size: 20px;
        padding: 20px;
    }

}