.NavContainer{
    background-image: linear-gradient(to bottom,  #ead0d1, #ead0d1, #dfd6d7 100%);
    display: grid;
    grid-template-rows: 3fr 1fr;
}
.LogoDiv{
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-around;
    align-items: center;
}
.logoImg{
    width: auto;
    height: 10rem;
}

.slogan{
    color: #69647b;
    font-family: Serif;
    font-size: 3.5rem;
    font-weight: bold;
}

.navBar{
    text-align: justify;
    font-family: Helvetica;
    padding: 0rem;
    margin:0rem;
}

.navBar li {
    font-size: 20px;
    float:left;
    padding: 20px;
    list-style: none;
}
.navBar li:hover{
    background-color: #bfbfbf;
}
.navBar li a {
    color: #a68782;
    text-decoration: none;
}

.footerNav{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to bottom, #dfd6d7, #ead0d1, #ead0d1 100%);
}

.footerNav ul{
    display: flex;
    list-style: none;
    font-size: 1.2rem;
}

.footerNav li{
    padding: 20px;
}


.footerNav li a{
    color: #69647b;
}

