.container {
    padding: 2rem;
    align-items: center;
}
.container ul{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left:0px;
}

.contactInfo ul{
    display:inline;
}
.ContactUsImage{
    border: 5px solid #79bfe9;
    margin-top:14px;
    width: 400px;
    height: auto;
}
.contactInfo{
    margin-left:10px;
}

.container header{
    font-family: Helvetica;
    font-size: 2rem;
    font-weight: bold;
}

.contactInfo li{
    list-style: none;
}

.contactInfo a{
    color: blue;
}

@media(max-width: 900px){
    .container ul{
        grid-template-columns: 1fr;
    }
}
