.container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    align-items: center;
    justify-content: space-between;
}

.fieldset {
    border-style: none;
    font-size: 1.5rem;
    margin-bottom: 50px;  
    font-family: "Times New Roman", Times, serif;
    color: #69647b;
}


input {
    padding: 0 30px;
    font-size: 14px;
    font-family: Helvetica;
    color: #69647b;
}

input[type="radio"]{
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    font-family: "Times New Roman", Times, serif;
}
input[type="checkbox"]{
    display: inline-block;
    position: relative;
    border: solid 1px rgb(180, 171, 171);
    /* cursor: pointer; */
    font-family: "Times New Roman", Times, serif;
}

.textarea{
    color: #69647b;
}
select{
    color: #69647b;
    font-size: 1.5rem;
    margin-left: 10px;
}
.wrong{
    margin-left: 10px;
    color: red;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    
}


.button{
    border-radius: 10px;
    background-color: rgb(180, 171, 171);
    font-family: Helvetica;
    color: #69647b;
}


@media(min-width:400px) {
    
    .fieldset {
        font-size: 0.6rem;
        width: 200px;
    }
    input[type="radio"]{
        width: 10px;
        height: 10px;
    }
    
    input {
        width: 70px;
        height: 10px;
        padding: 0 30px;
        font-size: 0.6rem;
        font-size: 10px;
    }

    select{
        font-size: 0.8rem;
    }
 
    .textarea{
        font-size: 0.6rem;
    }
}
@media(min-width:600px) {
    
    .fieldset {
        font-size: 1.3rem;
    }
    input[type="radio"]{
        width: 20px;
        height: 20px;
    }
    
    input {
        width: 140px;
        height: 20px;
        padding: 0 30px;
        font-size: 1rem;
    }
 
    select{
        font-size: 1.3rem;
    }
    
    .textarea{
        font-size: 1.3rem;
    }
    .button{
        height:30px;
        width: 200px;
        font-size: 25px ;
    }
}
@media(min-width:960px) {
    
    .fieldset {
        font-size: 1.5rem;
    }
    input[type="radio"]{
        width: 25px;
        height: 25px;
    }
    
    input {
        width: 200px;
        height: 30px;
        padding: 0 30px;
        font-size: 1.2rem;
    }
    
    .textarea{
        font-size: 1.5rem;
    }
    .button{
        height:40px;
        width: 250px;
        font-size: 20px ;
    }
    select{
        font-size: 1.5rem;
    }
}
