.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    margin: 3rem;
}

fieldset {
    border-style: none;
    font-size: 20px;
    margin-bottom: 50px;  
}


input {
    width: 200px;
    height: 30px;
    padding: 0 30px;
    font-size: 14px;
    
}

input[type="radio"]{
    display: inline-block;
    position: relative;
    margin-left: 20px;
    width: 20px;
    height: 20px;
    border: solid 1px #ccc;
    border-radius: 50%;
    cursor: pointer;
}

textarea{
    font-size: 18px;
}


button{
    height: 35px;
    width: 200px;
    border-radius: 18px;
    margin-left: 30px;
    background-color: #ccc;
    font-size: 20px ;
}


Strong{
    margin-left: 10px;
    color: rgb(79, 96, 145);
    font-size: 18px;
    font-weight: normal;
}

.button{
    background: #c0afad;
}
