.container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    align-items: center;
    justify-content: space-between;
}

.fieldset {
    border-style: none;
    font-size: 1.5rem;
    margin-bottom: 50px;  
    font-family: "Times New Roman", Times, serif;
    color: #69647b;
}


input {
    /* width: 200px;
    height: 30px; */
    padding: 0 30px;
    font-size: 14px;
    font-family: Helvetica;
    color: #69647b;
    
}

input[type="radio"]{
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}

.textarea{
    /* font-size: 1.5rem; */
    color: #69647b;
    
}


.button{
    /* height:40px;
    width: 250px; */
    border-radius: 10px;
    background-color: #ccc;
    /* font-size: 25px ; */
    font-family: Helvetica;
    color: #69647b;
    margin-top: 20px;
}
@media(min-width:400px) {
    
    .fieldset {
        font-size: 1rem;
    }
    
    
    input {
        width: 70px;
        height: 10px;
        padding: 0 30px;
        font-size: 0.8rem;
    }
    
    .textarea{
        font-size: 1rem;
    }
}
@media(min-width:600px) {
    
    .fieldset {
        font-size: 1.3rem;
    }
    
    
    input {
        width: 140px;
        height: 20px;
        padding: 0 30px;
        font-size: 1rem;
    }
    
    .textarea{
        font-size: 1.3rem;
    }
}
@media(min-width:960px) {
    
    .fieldset {
        font-size: 1.5rem;
    }
    
    
    input {
        width: 200px;
        height: 30px;
        padding: 0 30px;
        font-size: 1.2rem;
    }
    
    .textarea{
        font-size: 1.5rem;
    }
    .button{
        height:40px;
        width: 250px;
        font-size: 25px ;
    }
}
